main {
  padding: 20px;
}

table {
  border: none;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 10pt;
}

table th {
  background-color: #FFBB54;
  color: white;
}   

table th, table td {
  border: none;
  height: 35px;
  padding: 5px;
  box-sizing: border-box;
}

table tr:nth-child(odd) {
  background-color: #eeeeee;
}

table tr:nth-child(even) {
  background-color: #fbfbfb;
}

table tr th:nth-of-type(1) { width: 50px; }
table tr th:nth-of-type(2) { width: 100px; }
table tr th:nth-of-type(4) { width: 160px; }
table tr th:nth-of-type(5) { width: 80px; }

table tr td:nth-of-type(3),
table tr td:nth-of-type(4) { text-align: left; }

table td a {
  color: royalblue;
  text-decoration: none;
}

table td a:hover {
  text-decoration: underline;
}

table td i {
  color: royalblue;
  font-size: 22px;
}

table td i:hover {
  text-decoration: underline;
}

.kosong {
  padding: 0 20px;
  text-align: left;
}
