* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 45px;
  clear: both;
}

header {
  background-color: white;
  height: 60px;
  box-shadow: 0 2px 4px #aaaaaa40;
  position: relative;
  z-index: 1;
}

#logo {
  float: left;
  width: 220px;
  height: 100%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

#logo img {
  height: inherit;
}

#search-box {
  float: right;
  height: 100%;
  width: calc(100% - 220px);
  padding: 11px;
  box-sizing: border-box;
  text-align: center;
}

#search-box form {
  height: 100%;
  width: 50%;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  display: inline-block;
  text-align: initial;
  border-radius: 50px;
  overflow: hidden;
}

#search-box input[type=text] {
  height: 100%;
  padding: 0 15px;
  width: calc(100% - 40px);
  font-size: 10pt;
  box-sizing: border-box;
  border: none;
  float: left;
}

#search-box input[type=text]:focus {
  outline: none;
}

#search-box button[type=submit] {
  height: 100%;
  width: 40px;
  font-size: 15pt;
  float: right;
  box-sizing: border-box;
  border: none;
  background: none;
  color: #555555;
  transition: ease 0.2s;
}

#search-box button[type=submit]:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

#container {
  min-height: calc(100vh - 105px);
  display: flex;
}

nav {
  background-color: white;
  box-shadow: 2px 0 4px #aaaaaa40;
  width: 220px;
  float: left;
}

main {
  float: right;
  width: calc(100% - 220px);
  padding: 20px;
  box-sizing: border-box;
}

footer {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  font-size: 10pt;
  background-color: #FFBB54;
  box-shadow: 0 -2px 4px #aaaaaa40;
}

footer p {
  line-height: 45px;
  color: white;
  font-weight: bold;
  font-size: 9pt;
  text-align: center;
}
